 {% extends "base.html" %}

{% block contents %}

<div class="row my-4 container">
    <div id="profile" class="col-lg-4">
        {% if user.profile %}
            <div class="shadow rounded-4 p-3 m-5 my-2 mt-4" style='border:1px solid gray;'>
                {% comment %} <h6 class="text-dark fw-bold mb-2 text-center"> Name -{{user.username}}</h6> {% endcomment %}
                <img class="mb-4 rounded-5 mx-5" style= "width:65%;" src="{{user.profile.images.url}}" alt="">
                <h5 class='text-dark'> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg> {{user.profile.first_name}} {{user.profile.last_name}}</h5>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-phone-fill" viewBox="0 0 16 16">
                    <path d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2zm6 11a1 1 0 1 0-2 0 1 1 0 0 0 2 0"/>
                </svg>  {{user.profile.contact_number}}</p>  
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                </svg> {{ user.email}} </p>
                <p><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
                    </svg> {{user.profile.bio}}</p> 
                <div class='container text-center'>
                    <a class="btn btn-outline-danger m-3 col-4" href="{% url "edit_profile" %}"> Edit </a>
                </div>
            </div> 
        {% else %} 
            <h3 class='my-3 fw-bold text-danger .text-lighten-md text-center mt-2'>Create Your Proile </h3>
            <div class='container text-center'>
                <a class="btn btn-outline-danger m-3 col-4" href="{% url "edit_profile" %}"> Create Profile </a>
            </div>
        {% endif %} 
    </div> 

    <div id="all_posts" class="col-lg-8">
        <h3>All Posts</h3>
        {% include "users/all_post.html" with articles=articles exclude_div=False %}
        </div>
    </div>
    
{% endblock contents %}

